<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Solicitante:</label>
            <label>Paula</label>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label>Área Solicitante:</label>
            <label>Manutenção</label>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Data Solicitação:</label>
            <label> 30/05/2019 </label>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Horário Solicitação:</label>
            <label>15:02</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label>Nome do Projeto:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>Premissas do projeto:</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Beneficio:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Risco:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Premissas do projeto:</label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Áreas impactada:</label>
            <select class="custom-select form-control">
                <option value="">Selecione a área</option>
                <option value="Amsterdam">x</option>
                <option value="Berlin">Y</option>
                <option value="Frankfurt">Z</option>
            </select>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Indicadores:</label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label>Data Limite:</label>
            <input type="date" class="form-control">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label>Objetivo do Projeto</label>
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div style="border: solid; border-color: #ff0000;">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Número da OY:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Qual data fatal:</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Data Muro:</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tem demanda legal?</label>
                            <input class="check">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Tem demanda legal?</label>
                            <input class="check">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Fluxo paliativo?</label>
                            <input class="check">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Ponto focal:</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Qual o nível:</label>
                            <select class="custom-select form-control">
                                <option value="">Selecione o nível</option>
                                <option value="Amsterdam">Alto</option>
                                <option value="Berlin">Moderado</option>
                                <option value="Frankfurt">Baixo</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Data Legal:</label>
                            <input type="date" class="form-control">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="location1">Usuários:</label>
                            <select class="custom-select form-control" id="location1" name="location">
                                <option value="">Selecione os usuários</option>
                                <option value="Amsterdam">Carla</option>
                                <option value="Berlin">Leandro</option>
                                <option value="Frankfurt">Lu</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="date1">Data Término:</label>
                            <input type="date" class="form-control" id="date1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Arquivos</h4>
                <div class="dropzone">
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>