<div class="row">
    <div class="col-md-12">

        <div class="form-group">
            <div id="idAccordionParecerArquiteto" role="tablist" class="minimal-faq" aria-multiselectable="true">

                <div role="tab" id="idHeaderEspecificacao">
                    <h5 class="mb-0">
                        <a class="collapsed link" data-toggle="collapse" data-parent="#idAccordionParecerArquiteto" href="#collapseEspecificacao" aria-expanded="false" aria-controls="collapseEspecificacao">
                            ESPECIFICAÇÃO DO PROJETO
                        </a>
                    </h5>
                </div>
                <div id="collapseEspecificacao" class="collapse show" role="tabpanel" aria-labelledby="idHeaderEspecificacao">
                    <div class="row">
                        <div class="col-md-8">
                            <p><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span>Documento de Especificação 1 teste.docx </span><i class="fa fa-cloud-download"></i> <span>Download</span></a></p>
                            <p><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span>Documento de Especificação 2 teste.docx </span><i class="fa fa-cloud-download"></i> <span>Download</span></a></p>
                            <p><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span>Documento de Especificação 3 teste.docx </span><i class="fa fa-cloud-download"></i> <span>Download</span></a></p>
                        </div>
                        <div class="col-md-4">
                            <div class="float-right">
                                <label>Data Término :</label>
                                <input type="date" class="form-control" id="date1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <h6 class="card-title"><font size="3"> <b>| Parecer do Arquiteto</b></font></h6>
                        @*<label for="behName1">Parecer do Arquiteto :</label>*@
                        <textarea class="form-control" rows="5"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group float-right">
                        <button id="btnRecusar" class="btn btn-danger" data-toggle="modal" data-target="#idResp">Recusar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>