<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label>Aprovador :</label>
            <input type="text" class="form-control" disabled="disabled">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="date1">Data de priorização:</label>
            <input type="text" class="form-control" disabled="disabled">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="date1">Data Término :</label>
            <input type="date" class="form-control" id="date1">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label>Observação:</label>
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
</div>