@model IEnumerable<Itau.PO.UI.MVC.ViewModel.PerfilViewModel>

@{
    ViewBag.Title = "Consultar Projetos";
}
@section css{
    <style>
        .wrapper {
            width: 200px;
            height: 200px;
            background: #EFEFEF;
            box-shadow: 1px 1px 10px #999;
            margin: auto;
            text-align: center;
            position: relative;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            padding-top: 5px;
        }
        .scroll {

            overflow-x: auto;
            overflow-y: auto;
            
            white-space: nowrap;
        }
        /*img {
            box-shadow: 1px 1px 10px #999;
            margin: 2px;
            max-height: 150px;
            cursor: pointer;
            display: inline-block;
            *display: inline;
            *zoom: 1;
            vertical-align: top;
        }*/
    </style>

}
<div class="container-fluid">

    <div class="row ">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title h-75">Projetos x Riscos</h4>
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3">

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancelados</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="ti-eraser text-danger"></i> 9</h4>
                        </div>
                        <div class="ml-auto">
                            <div id="spark10"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancelados</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="ti-eraser text-danger"></i> 9</h4>
                        </div>
                        <div class="ml-auto">
                            <div id="spark10"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancelados</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="ti-eraser text-danger"></i> 9</h4>
                        </div>
                        <div class="ml-auto">
                            <div id="spark10"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-3 ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancelados</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="ti-eraser text-danger"></i> 9</h4>
                        </div>
                        <div class="ml-auto">
                            <div id="spark10"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancelados</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="ti-eraser text-danger"></i> 9</h4>
                        </div>
                        <div class="ml-auto">
                            <div id="spark10"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Cancelados</h4>
                    <div class="d-flex">
                        <div class="align-self-center">
                            <h4 class="font-medium m-b-0"><i class="ti-eraser text-danger"></i> 9</h4>
                        </div>
                        <div class="ml-auto">
                            <div id="spark10"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="buttons">
                <button id="sample_editable_1_new" class="btn waves-effect waves-light btn-info float-right">
                    Novo
                    <i class="fa fa-plus"></i>
                </button>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsiv scroll" >
                        <table id="tbProjeto" class="display nowrap table table-hover table-striped table-bordered tabela" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Projetos</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="tdPrototipo">
                                        <div class="card m-b-0">
                                            <div class="card-header" role="tab" id="idHeaderDetalhesProjeto">
                                                <h6 class="mb-0">
                                                    <a class="collapsed link" data-toggle="collapse" data-parent="#idAccordion" href="#collapseDetalhesProjeto" aria-expanded="false" aria-controls="collapseDetalhesProjeto">
                                                        <b>Projeto:</b> CEIC | <b>Código</b>: 002 | <b>Status:</b> Em Andamento | <b>Data Aberura:</b> 06/06/2019 | <b>Risco:</b> Em atraso | <b>Percentual de Conclusão :</b> 80 %
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseDetalhesProjeto" class="collapse" role="tabpanel" aria-labelledby="idHeaderDetalhesProjeto">
                                                <div class="" style="background: #1976d2; border-color: #1976d2;">
                                                    <table class="text-white" style="width: 100%; font-size:large; font-weight: bold;">
                                                        <tbody>
                                                            <tr>
                                                                @*<td>Projeto número 2</td>
                                                                    <td>16/02/2019</td>
                                                                    <td>Marcelo Castilho</td>
                                                                    <td>Subsídios</td>
                                                                    <td>27</td>*@
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="card-body">
                                                    @*<p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                        <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                        <p>Nível da OY: <b>Moderada</b></p>
                                                        <p>Data de entrega: <b>20/07/2019</b></p>*@

                                                    <table class="display nowrap table table-hover table-striped table-bordered" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                                    <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                                    <p>Nível da OY: <b>Moderada</b></p>
                                                                    <p>Data de entrega: <b>20/07/2019</b></p>
                                                                </td>

                                                                <td>
                                                                    <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                                    <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                                    <p>Nível da OY: <b>Moderada</b></p>
                                                                    <p>Data de entrega: <b>20/07/2019</b></p>
                                                                </td>

                                                                <td>
                                                                    <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                                    <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                                    <p>Nível da OY: <b>Moderada</b></p>
                                                                    <p>Data de entrega: <b>20/07/2019</b></p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="form-actions right todo-form-actions text-right">
                                                    <button class="btn btn-info right">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tdPrototipo">
                                        <div class="card m-b-0">
                                            <div class="card-header" role="tab" id="idHeaderDetalhesProjeto">
                                                <h6 class="mb-0">
                                                    <a class="collapsed link" data-toggle="collapse" data-parent="#idAccordion" href="#collapseDetalhesProjeto2" aria-expanded="false" aria-controls="collapseDetalhesProjeto">
                                                        <b>Projeto:</b> CAT | <b>Código</b>: 001 | <b>Status:</b> Em Andamento | <b>Data Aberura:</b> 06/06/2019 | <b>Risco:</b> Em atraso | <b>Percentual de Conclusão :</b> 80 %
                                                    </a>
                                                </h6>
                                            </div>
                                            <div id="collapseDetalhesProjeto2" class="collapse" role="tabpanel" aria-labelledby="idHeaderDetalhesProjeto">
                                                <div class="" style="background: #1976d2; border-color: #1976d2;">
                                                    <table class="text-white" style="width: 100%; font-size:large; font-weight: bold;">
                                                        <tbody>
                                                            <tr>
                                                                @*<td>Projeto número 2</td>
                                                                    <td>16/02/2019</td>
                                                                    <td>Marcelo Castilho</td>
                                                                    <td>Subsídios</td>
                                                                    <td>27</td>*@
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <div class="card-body">
                                                    @*<p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                        <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                        <p>Nível da OY: <b>Moderada</b></p>
                                                        <p>Data de entrega: <b>20/07/2019</b></p>*@

                                                    <table class="" style="width: 100%;">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                                    <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                                    <p>Nível da OY: <b>Moderada</b></p>
                                                                    <p>Data de entrega: <b>20/07/2019</b></p>
                                                                </td>

                                                                <td>
                                                                    <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                                    <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                                    <p>Nível da OY: <b>Moderada</b></p>
                                                                    <p>Data de entrega: <b>20/07/2019</b></p>
                                                                </td>

                                                                <td>
                                                                    <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                                                    <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                                                    <p>Nível da OY: <b>Moderada</b></p>
                                                                    <p>Data de entrega: <b>20/07/2019</b></p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div class="form-actions right todo-form-actions text-right">
                                                    @Html.ActionLink("Editar", "EditarProjeto", "Projeto", null, new { @class = "btn btn-info" })
                                                    @*<button class="btn btn-info">Editar</button>*@
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/Content/assets/plugins/bootstrap-table/dist/locale/bootstrap-table-pt-BR.js")
    <script type="text/javascripFprojt" src="~/Scripts/Portal/jsPerfil.js">
    </script>
    <script src="~/Content/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/js/buttons.flash.min.js"></script>
    <script src="~/Content/js/jszip.min.js"></script>
    <script src="~/Content/js/pdfmake.min.js"></script>
    <script src="~/Content/js/vfs_fonts.js"></script>
    <script src="~/Content/js/buttons.html5.min.js"></script>
    <script src="~/Content/js/buttons.print.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="~/Content/assets/plugins/flot/excanvas.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.pie.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.time.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.stack.js"></script>
    <script src="~/Content/assets/plugins/flot/jquery.flot.crosshair.js"></script>
    <script src="~/Content/assets/plugins/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>

    <script src="~/Content/assets/plugins/styleswitcher/jQuery.style.switcher.js"></script>


    <script type="text/javascript" src="~/Scripts/Portal/jsProjetos.js"></script>


}



