<div class="card">
    <div class="card-body">
        @*<div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Riscos e pontos criticos:</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>*@

        <div class="row">
            <div class="col-11">
                <div class="form-group">
                    <textarea placeholder="Digite sua mensagem aqui" class="form-control" rows="5"></textarea>
                </div>
            </div>
            <div class="col-1 text-right">
                <div class="form-group">
                    <button type="button" class="btn btn-info btn-circle btn-md" style="position: absolute; bottom: 30px; right: 15px;"><i class="fa fa-paper-plane-o"></i></button>
                </div>
            </div>
        </div>

        <!-- END TASK DESC -->
        <div class="form-body">
            <div id="divComentarios" style="overflow-y:auto; ">
                <ul class="media-list">
                    <li>
                        <a class="pull-left" href="javascript:;">
                            <img class="todo-userpic" src="~/Content/assets/images/users/6.jpg" width="27px" height="27px">
                        </a>
                        <div class="media-body todo-comment float-left">
                            <p class="todo-comment-head">
                                <span class="todo-comment-username">Luciana</span> &nbsp;
                                <span class="todo-comment-date">07/06/2019</span>
                            </p>
                            <p class="todo-text-color">
                                <span class="todo-comment">Luciana</span> &nbsp;
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>