<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome do Projeto:</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="date1">Qual Data Início :</label>
                    <input type="date" class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Risco:</label>
                    <select class="custom-select form-control">
                        <option value="">Selecione um Risco</option>
                        <option value="Amsterdam">Baixo</option>
                        <option value="Berlin">Médio</option>
                        <option value="Frankfurt">Alto</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome Analista:</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label>Nome Desenvolvedor:</label>
                    <input type="text" class="form-control">
                </div>
            </div>

            @*<div class="col-md-4">
                <div class="form-group">
                    <label for="date1">Qual Data Início :</label>
                    <input type="date" class="form-control" id="date1">
                </div>
            </div>*@

            <div class="col-md-4">
                <div class="form-group">
                    <label>Status:</label>
                    <select class="custom-select form-control">
                        <option value="">Selecione um Status</option>
                        <option value="Amsterdam">Status 1</option>
                        <option value="Berlin">Status 2</option>
                        <option value="Frankfurt">Status 3</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="button-group float-right">
                    <button type="button" class="btn btn-success">Salvar</button>
                </div>
            </div>
        </div>
    </div>
</div>
