<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <div id="idAccordion" role="tablist" class="minimal-faq" aria-multiselectable="true">
                <div>
                    <div role="tab" id="idHeaderMEO">
                        <h5 class="mb-0">
                            <a class="collapsed link" data-toggle="collapse" data-parent="#idAccordion" href="#collapseDownload" aria-expanded="false" aria-controls="collapseDownload">
                                TEMPLATE MEO
                            </a>
                        </h5>
                    </div>
                    <div id="collapseDownload" class="collapse show" role="tabpanel" aria-labelledby="idHeaderMEO">
                        <div class="row">
                            <div class="col-md-8">

                                <p><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span>Documento Template 1 teste.docx </span><i class="fa fa-cloud-download"></i> <span>Download</span></a></p>
                                <p><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span>Documento Template 2 teste.docx </span><i class="fa fa-cloud-download"></i> <span>Download</span></a></p>
                                <p><a class="has-arrow waves-effect waves-dark" href="#" aria-expanded="false"><span>Documento Template 3 teste.docx </span><i class="fa fa-cloud-download"></i> <span>Download</span></a></p>
                            </div>
                            <div class="col-md-4">
                                <div class="float-right">
                                    <label>Data Término :</label>
                                    <input type="date" class="form-control" id="date1">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="idHeaderDetalhesProjeto">
                        <h5 class="mb-0">
                            <a class="collapsed link" data-toggle="collapse" data-parent="#idAccordion" href="#collapseDetalhesProjeto" aria-expanded="false" aria-controls="collapseDetalhesProjeto">
                                DETALHES DO PROJETO
                            </a>
                            <a class="float-right" data-toggle="collapse" data-parent="#idAccordion" href="#collapseDetalhesProjeto" aria-expanded="false" aria-controls="collapseDetalhesProjeto">
                                +
                            </a>
                        </h5>

                    </div>
                    <div id="collapseDetalhesProjeto" class="collapse" role="tabpanel" aria-labelledby="idHeaderDetalhesProjeto">
                        <div class="" style="background: #1976d2; border-color: #1976d2;">
                            <table class="text-white" style="width: 100%; font-size:large; font-weight: bold;">
                                <tbody>
                                    <tr>
                                        <td>Projeto número 2</td>
                                        <td>16/02/2019</td>
                                        <td>Marcelo Castilho</td>
                                        <td>Subsídios</td>
                                        <td>27</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="card-body">
                            <table class="" style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td>
                                            <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                            <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                            <p>Nível da OY: <b>Moderada</b></p>
                                            <p>Data de entrega: <b>20/07/2019</b></p>
                                        </td>

                                        <td>
                                            <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                            <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                            <p>Nível da OY: <b>Moderada</b></p>
                                            <p>Data de entrega: <b>20/07/2019</b></p>
                                        </td>

                                        <td>
                                            <p>Benefício financeiro: <b>R$ 10 MM</b></p>
                                            <p>Tem OY atrelada: <input type="checkbox" class="js-switch" data-size="small" data_color="#009efb" /></p>
                                            <p>Nível da OY: <b>Moderada</b></p>
                                            <p>Data de entrega: <b>20/07/2019</b></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="idHeaderEspecificacaoProjeto">
                        <h5 class="mb-0">
                            <a class="collapsed link" data-toggle="collapse" data-parent="#idAccordion" href="#collapseEspecificacaoProjeto" aria-expanded="false" aria-controls="collapseEspecificacaoProjeto">
                                ESPECIFICAÇÃO DO PROJETO
                            </a>
                            <a class="float-right" data-toggle="collapse" data-parent="#idAccordion" href="#collapseEspecificacaoProjeto" aria-expanded="false" aria-controls="collapseEspecificacaoProjeto">
                                +
                            </a>
                        </h5>
                    </div>
                    <div id="collapseEspecificacaoProjeto" class="collapse" role="tabpanel" aria-labelledby="idHeaderEspecificacaoProjeto">
                        <div class="card-body">
                            @*<div class="fallback dropzone">
                                    <input name="file" type="file" multiple />
                                </div>*@

                            <div class="dropzone">
                                <div class="fallback">
                                    <input name="file" type="file" multiple />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card m-b-0">
                    <div class="card-header" role="tab" id="idHeaderDesenvolvedores">
                        <h5 class="mb-0">
                            <a class="collapsed link" data-toggle="collapse" data-parent="#idAccordion" href="#collapseDesenvolvedores" aria-expanded="false" aria-controls="collapseDesenvolvedores">
                                DESENVOLVEDORES
                            </a>
                            <a class="float-right" data-toggle="collapse" data-parent="#idAccordion" href="#collapseDesenvolvedores" aria-expanded="false" aria-controls="collapseDesenvolvedores">
                                +
                            </a>
                        </h5>
                    </div>
                    <div id="collapseDesenvolvedores" class="collapse" role="tabpanel" aria-labelledby="idHeaderDesenvolvedores" style="padding-bottom: 20px;">
                        <div class="row">
                            <div class="col-md-3">
                                Desenvolvedor líder:
                            </div>
                            <div class="col-md-9">
                                <select class="form-control custom-select"><option>teste1</option><option>teste2</option><option>teste3</option></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                Desenvolvedor:
                            </div>
                            <div class="col-md-9">
                                <select class="form-control custom-select"><option>teste1</option><option>teste2</option><option>teste3</option></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                Desenvolvedor:
                            </div>
                            <div class="col-md-9">
                                <select class="form-control custom-select"><option>teste1</option><option>teste2</option><option>teste3</option></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>