<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <h6 class="card-title"><font size="3"><b>| Estimativa Horas de Desenvolvimento</b></font></h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div style="display: inline-block;">
            <div class="row">
                <div class="col-md-3 float-left" ">
                    <label> Projeto: CAT </label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 float-left">
                    <label for="videoUrl1">Horas Necessárias:</label>
                    <input type="text" class="form-control" id="videoUrl1">
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Horas total do Projeto </label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label> Horas para  Desenvolvimmento </label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label> Horas para Homologação </label>
                        <input type="text" class="form-control">
                    </div>
                </div>


                <div class="col-md-4">
                    <div class="form-group">
                        <label> Hora para Implantação </label>
                        <input type="text" class="form-control">
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label>Data Término :</label>
                        <input type="date" class="form-control" id="date1" size="">


                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 float-left">
                    <div class="form-group">
                        <label for="videoUrl1">N° de desenvolvedores :</label>
                        <input type="text" class="form-control" id="videoUrl1">
                    </div>
                </div>

            </div>

            <br />
            <div class="row">
                <div class="col-md-12">

                    <div class="form-group">
                        <h6 class="card-title"><font size="3"> <b>| Parecer do Arquiteto</b></font></h6>
                        @*<label for="behName1">Parecer do Arquiteto :</label>*@
                        <textarea class="form-control" rows="5" disabled="disabled"></textarea>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>